.titlebar {
    height: 100px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.titlebar p:hover {
    border: 0.5px solid white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 106, 255);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: 400px;
    height: 80px;
    background-image: url("logo.png");
    background-size: cover;
}

.logo:hover {
    border: 1px solid rgb(42, 106, 255);
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(42, 106, 255);
}
